
@model Online_Car_Rental_System.ViewModels.ClientPreferTypes
@{
    ViewBag.Title = "Search";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/CarsView.css" rel="stylesheet" />

<div class="container">
    <h2>Rental Cars – Search & Save</h2>
    <div class="row myrow">
        <div class="col-lg-10">
            @using (Html.BeginForm())
            { <div class="form-group">
                @Html.LabelFor(c => c.client.Type_Pref)
                @Html.DropDownListFor(c => c.client.Type_Pref, new SelectList(Model.ClientPreferType, "ID", "Type"), "Select your Prefer Type", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.client.Type_Pref)
            </div>
            <div class="form-group">
                @Html.LabelFor(c => c.car.numOfChairs)
                @Html.TextBoxFor(c => c.car.numOfChairs, new { @class = "form-control", placeholder = "Enter Your No.of chairs", type = "number" })
                @Html.ValidationMessageFor(c => c.car.numOfChairs)
            </div>

            <div class="form-group">
                @Html.LabelFor(c => c.car.Model, new { @class = "control-lable" })
                @Html.TextBoxFor(c => c.car.Model, new { @class = "form-control", placeholder = "Enter prefer model", type = "text" })
                @Html.ValidationMessageFor(c => c.car.Model)
            </div>

            <div class="form-group">
                @Html.LabelFor(c => c.car.rentAmount)
                @Html.TextBoxFor(c => c.car.rentAmount, new { @class = "form-control", placeholder = "Enter prefer rent amount", type = "text" })
                @Html.ValidationMessageFor(c => c.car.rentAmount)
            </div>

            <button type="submit" class="btn btn-primary">Filter</button>
            }
        </div>
    </div>
</div>
@if (Model != null)
            {
    <div class="container">
        <h3 style="margin:60px; background-color:gainsboro;direction:ltr; width:200px; font-style:oblique;
             font-size:larger;">
            preferred Items:-
        </h3>

        <div class="row ">


            @foreach (var item in Model.cars)
            { <div class="col-md-3">
                <img src="@Url.Content("~/Content/images/"+Html.DisplayFor(modelItem => item.Img))" class="img center center fixed" />

                <div class="row">
                    <div class="col-md-12" style="font-size:20px; font-family:Arial, Helvetica, sans-serif">
                        @Html.DisplayFor(modelItem => item.Name)
                    </div>
                    <div class="col-md-12">
                        @Html.DisplayFor(modelItem => item.Model)
                    </div>
                    <div class="col-md-6">
                        @Html.ActionLink("Details", "Details", "Cars", new { item.ID })
                    </div>
                    <div class="col-md-6">
                        @if (item.ownerClientID != null)
                        {

                            <label id="l2" style="font-size:15px" class="label label-danger">Not Available</label>
                        }
                        @if (item.ownerClientID == null)
                        {
                            @Html.ActionLink("Rent", "Details", "Cars", new { item.ID })
                        }

                    </div>
                </div>
            </div>
            }
        </div>
    </div>}
            else
            {<p>@ViewBag.cars</p>}
